body {
  background-image: url("giphy.gif");
  background-size: 79%;
  background-position: center;
  display: block;
}

h1 {
  color: white;
}

.current-city {
  position: relative;
  left: 800px;
  bottom: 45px;
}

.weatherbox {
  position: relative;
  left: 600px;
  bottom: 150px;
  background: lightblue;
}
.list-group-item {
  background: lightblue;
}

.degree {
  color: blue;
  margin-left: 100px;
  font-weight: 900;
  font-size: xx-large;
}
.rain {
  text-align: center;
  margin-right: 100px;
  font-weight: bold;
}

.Forecast {
  position: relative;
  right: 65px;
  left: 25px;
  bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: lightblue;
}

hr {
  border: 1px solid blue;
}

.card-header {
  color: blue;
}

.github-link {
  position: relative;
  left: 800px;
  color: white;
  font-weight: bolder;
}
.card-body {
  background: lightblue;
}

.col-md-4 {
  background: lightblue;
}
.row g-0 {
  background: lightblue;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  color: black;
  position: relative;
  left: 25px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  color: black;
  position: relative;
  left: 25px;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: black;
  position: relative;
  left: 25px;
}

.pic {
  position: relative;
  left: 25px;
}
